# секреты
.env

# Виртуальное окружение Python
.venv/

# pytest / Playwright
.pytest_cache/
playwright-report/

# Allure
allure-results/
allure-report/

# VS Code и прочий кэш
.vscode/
__pycache__/
*.py[cod]
